body{
    margin: 0px;
}

h1{
    color:rgb(12, 192, 192);
}

ol{
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 750px;
}

#navigation {
    background-color: red;
    position: fixed;
    width: 100vw;
}

#navigation > ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

#navigation > ul > li {
    display: inline;
    margin: 0 10px 0 0;
}

#navigation .container {
    margin: 0 auto;
}

#header {
    padding: 10px;
    background-color: orange;
}

#contents {
    padding: 10px;
    background-color: yellow;
}

#contents p + ul {
    background-color: blue;
}

#contents li:first-child {
    background-color: violet
}

#contents li:last-child {
    background-color: plum
}

#contents li:nth-child(2) {
    background-color: purple
}

#footer {
    padding: 10px;
    background-color: green;
}

#footer > ol {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#footer > ol > li {
    margin: 0 10px 0 0;
    display: inline;
}

#footer .container {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
}